{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Suite",
    "description": "A sample API example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/atendimento": {
      "get": {
        "description": "Retorna um array de atendimentos conforme os filtros utilizados. Caso nenhum filtro seja passado o resultado trará todos os atendimentos.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "status": "success",
              "code": 200,
              "data": [
                {
                  "_id": "657c407f95a89d4dd802ca1c",
                  "id_cliente": "646657ac0940d216c59e95ea",
                  "id_user": "1532837c61b23cfec1d35918",
                  "id_atendente": "5d1242134b16a50312cc8f43",
                  "setor": "5bf13d1d126f7d2b0d647a61",
                  "descricao": "",
                  "status": "F",
                  "canal": "page",
                  "canal_id": "12a3a36ddcfd22baf4990e2f",
                  "canal_cliente": "c1b22a37-fb6a-4875-bd3c-dae9735393c6",
                  "protocolo": "OPA20232025",
                  "tags": [],
                  "avaliacoes": [],
                  "observacoes": [],
                  "date": "2023-12-15T12:03:11.406Z",
                  "fim": "2023-12-15T19:11:02.391Z"
                },
                {
                  "_id": "657ca4c795a89d4dd105ce04",
                  "id_cliente": "646657ac0940d486c51e25ea",
                  "id_user": "6539837c12b53cfec1d35918",
                  "id_atendente": "1d1246ad4b16a50312cc8f4d",
                  "setor": "1bf72d1d186f7d2b0d647a61",
                  "descricao": "",
                  "status": "F",
                  "canal": "page",
                  "canal_id": "62a3a24ddcfd29baf4120e2f",
                  "canal_cliente": "c7b25a32-fb6a-4175-bd1c-dae9735393c6",
                  "protocolo": "OPA20232016",
                  "tags": [],
                  "avaliacoes": [],
                  "observacoes": [],
                  "date": "2023-12-15T19:11:03.400Z",
                  "fim": "2023-12-15T19:11:33.786Z"
                }
              ]
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/atendimentos": {
      "buscar": {
        "description": "Retorna um único registro filtrado pelo ID inserido na URL, caso exista algum campo de relacionamento este campo virá populado com as informações invés de somente o ID",
        "parameters": [
          {
            "name": "protocolo",
            "in": "body",
            "description": "Protocolo do atendimento",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "dataInicialAbertura",
            "in": "body",
            "description": "Data inicial de abertura do atendimento (AAAA-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "dataFinalAbertura",
            "in": "body",
            "description": "Data final de abertura do atendimento (AAAA-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "dataInicialEncerramento",
            "in": "body",
            "description": "Data inicial de encerramento do atendimento (AAAA-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "dataFinalEncerramento",
            "in": "body",
            "description": "Data final de encerramento do atendimento (AAAA-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "status": "success",
              "code": 200,
              "data": {
                "_id": "657ca4f695a89a4dd206ce5f",
                "id_cliente": {
                  "_id": "646657xc0930d496c59e95ea",
                  "nome": "João Santos",
                  "cpf_cnpj": "56982161005",
                  "status": "A"
                },
                "id_user": {
                  "_id": "6539237c61b13cfec1d33151",
                  "nome": ""
                },
                "id_atendente": {
                  "_id": "5d1642434b16a50312cc8f43",
                  "nome": "Lucas Silva",
                  "genero": ""
                },
                "setor": "2bf43d1d186f7d2b0d647a11",
                "descricao": "",
                "status": "EA",
                "canal": "page",
                "canal_id": "12a3a31ddcfd29baf4990e2f",
                "canal_cliente": "c2b22a37-fb2a-4875-bd3c-dae9735393c6",
                "protocolo": "OPA20232017",
                "tags": [],
                "avaliacoes": [],
                "observacoes": [],
                "date": "2023-12-15T19:11:50.657Z",
                "id_motivo_atendimento": {
                  "_id": "6414e3fffa1d42155e666b76",
                  "motivo": "Atendimento teste"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}